/* CSS declarations go here */
html, body {
	height: 100%;
}

h1, h2, p {
	font-family: Segoe Ui;
}

.container-fluid {
	height: 100%;
	padding-top: 100px;
	box-sizing: border-box;
	overflow-y: hidden;
}

.main-page {
	height: 100%;
}

.main-center {
	background-color: #ffffff;
	height: 100%;
	min-height: 100%;
}

.main-right {
	background-color: #333;
	height: 100%;
	min-height: 100%;
}

#main-logo {
	margin-top: 10%;
}

.header-nav-item {
	background-color: transparent;
}
.btn-lnk:hover {
	color: #ffffff;
}
.recent-matches {
	overflow-y: hidden;
}

.display-names {
	height: 100%;
	width: 8em;
	display: inline-block;
	margin-bottom: 1em;
}
.display-names p {
	font-weight: bold;	
}

.display-points {
	height: 100%;
	width: 3em;
	display: inline-block;
	margin-bottom: 1em;
}

.display-points p {
	display: inline-block;
	width: 100%;
	margin-left: 1em;
	text-align: center;
}