<template name="home_page">
  <div class="col-xs-10 buffer-vert full-height">
    <div class="col-xs-6 full-height">
      {{> matches_display classes="top" heading="Current Matches" matches=currentMatches}}
      {{> matches_display classes="" heading="Recent Matches" matches=recentMatches}}
    </div>
    <div class="col-xs-6 full-height">
      {{#if currentUser}}
        {{> newmatchBar}}
      {{/if}}
      <p>RIGHT SIDE STUFF HERE</p>
    </div>
  </div>

  <div class="col-xs-2 home-right">
    <div class="playerList">
      <div class="playerList-title title">THE TOP 5</div>
      <hr>
      {{#each topPlayers}}
        {{> playerBox}}
        <hr>
      {{/each}}
    </div>
  </div>
</template>
