<template name="displayScore">
  <div class="display-match">
    {{#with playerFromId id1}}
      <a class="col-xs-3 display-match-playerbox profile-link {{#if p1win}}win{{/if}}" href="{{pathFor 'profile' _id=_id}}">
        {{> profileImg}}
        <div class="display-match-playerbox-name">{{profile.displayname}}</div>
      </a>
    {{/with}}
    <div class="col-xs-6 display-match-games">
      <div class="display-match-games-breakdown">
        {{#each games}}{{> displayPoints}}{{/each}}
      </div>
      <div class="display-match-games-date">
        {{dateString}}
      </div>
    </div>
    {{#with playerFromId id2}}
      <a class="col-xs-3 display-match-playerbox profile-link {{#if p2win}}win{{/if}}" href="{{pathFor 'profile' _id=_id}}">
        {{> profileImg}}
        <div class="display-match-playerbox-name">{{profile.displayname}}</div>
      </a>
    {{/with}}
  </div>
</template>

<template name="displayPoints">
  <div class="display-match-points">
    <p class="display-match-points-gameNum">{{num}}</p>
    <p class="{{#if isGreater points1 points2}}{{#if gameFinished}}win{{/if}}{{/if}} {{#if filler}}filler{{/if}}">{{points1}}</p>
    <p class="{{#if isGreater points2 points1}}{{#if gameFinished}}win{{/if}}{{/if}} {{#if filler}}filler{{/if}}">{{points2}}</p>
  </div>
</template>
