<template name="matches_page">
  <div class="col-xs-6 buffer-vert full-height">
    {{> matches_display containerClasses="" title="Current Matches" matches=currentMatches}}
  </div>
  <div class="col-xs-6 buffer-vert full-height">
    {{> matches_display containerClasses="" title="Recent Matches" matches=recentMatches}}
  </div>
</template>

<template name="matches_display">
  {{#container_listWrapper title=title containerClasses=containerClasses }}
    {{#each this.matches}}
      {{> displayScore}}
    {{/each}}
    {{#if noMatches this.matches}}
      <div class="noMatch-text">
        {{#if this.noMatch}}
          {{this.noMatch}}
        {{else}}
          No {{this.title}}.
        {{/if}}
      </div>
    {{/if}}
  {{/container_listWrapper}}
</template>