<template name="newmatchBar">
    <div class="col-xs-12 no-buffer-hori">
        <form class="start-match">
            <input class="opponent-searchbar" name="opponent" type="text" value="{{oppEntry}}" autocomplete="off" placeholder="Opponent name or email"><button type="submit" class="start-match-btn">Start</button>
            {{#if showDropdown}}
                <ul id="opponent-searchbar-dropdown" class="dropdown-menu">
                    {{#each opponentMatch}}
                        {{> opponentEntry}}
                    {{/each}}
                    {{#unless oppNum}}
                        <li><div class="dropdown-entry">No matching players found</div></li>
                    {{/unless}}
                </ul>
            {{/if}}
        </form>
    </div>
</template>

<template name="opponentEntry">
    <li email={{email}} class="dropdown-entry opponentEntry">
        {{> profileImg}}
        <div class="dropdown-entry-text">
            {{profile.fname}} {{profile.lname}} <!-- ({{email}}) -->
        </div>
    </li>
</template>