<template name="players_page">
    <div class="col-xs-12 full-height buffer-vert">
        <div class="playerList-container">
            <div class="container-matches-header">
              <div class="container-matches-title title"> All Players </div>
              <hr>
            </div>
            <div class="container-matches-body">
                <div class="playerList">
                    {{#each allPlayers}}
                        {{> playerBox}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="playerBox">
    <a class="playerBox-container profile-link" href="{{pathFor 'profile' _id=_id}}">
        <span class="playerBox-rank">{{profile.rank}}</span>
        <div class="playerBox-img">
            {{> profileImg}}
        </div>
        <span class="playerBox-info">
            <div>{{profile.fname}} {{profile.lname}}</div>
            <div>Rating: {{profile.rating}}</div>
        </span>
    </a>
</template>