<template name="playerlist">
	<!-- for each loop through the players? -->
</template>

<template name="playerContainer">
<div class="topPlayer">
	<h1>1</h1>
	<div class="playerBox row">
		<div class="col-xs-4 playerBoxThumbnail">
			<img src="\erica.jpg" class="img-responsive">
		</div>
		<div class="col-xs-8 playerBoxInfo">
			<div class="row playerName">
				<p>Erica Wu</p>
			</div>
			<div class="row">
				<p> Test </p>
			</div>	
		</div>
	</div>
	</div>
</template>

<template name="topPlayersTest">
<div class="topPlayer">
	<h1>1</h1>
	<div class="playerBox row">
		<div class="col-xs-4 playerBoxThumbnail">
			<img src="\erica.jpg" class="img-responsive">
		</div>
		<div class="col-xs-8 playerBoxInfo">
			<div class="row playerName">
				{{_id}}
			</div>
			<div class="row">
				<p> Taken from db </p>
			</div>	
		</div>
	</div>
	</div>
</template>