<template name="players_page">
    <div class="col-xs-12 full-height buffer-vert">
        {{#container_listWrapper title="All Players" containerClasses="playerList" }}
            {{#each allPlayers}}
                {{> playerBox}}
            {{/each}}
        {{/container_listWrapper}}
    </div>
</template>

<template name="playerBox">
    <a class="playerBox-container profile-link" href="{{pathFor 'profile' _id=_id}}">
        <span class="playerBox-rank">{{profile.rank}}</span>
        <div class="playerBox-img">
            {{> profileImg}}
        </div>
        <span class="playerBox-info">
            <div>{{profile.fname}} {{profile.lname}}</div>
            <div>Rating: {{profile.rating}}</div>
        </span>
    </a>
</template>