<template name="players_page">
    <div class="col-xs-12 full-height">
        {{#each allPlayers}}
            {{> playerBox}}
            <hr>
        {{/each}}
    </div>
</template>

<template name="playerBox">
    <a class="playerBox-container profile-link" href="{{pathFor 'profile' _id=_id}}">
        <span class="playerBox-rank">{{profile.rank}}</span>
        {{> profileImg}}
        <span class="playerBox-info">
            <div>{{profile.displayname}}</div>
            <div>Rating: {{profile.rating}}</div>
        </span>
    </a>
</template>