<template name="Profile">
  	{{> header}}
	{{> profileMain}}
</template>

<template name="profileMain">
	<div class="container-fluid">
		<div class="row main-page">

			<div class="col-xs-12 main-center">
				{{> profileHeader}}
				<p>Display the picture slideshow (if possible), recent matches, and if applicable, current matches here. Extra text to see how big it looks.</p>

				<div class="form-group row">
					<label for="example-text-input" class="col-xs-1 col-form-label">Opponent Name</label>

					<form class="start-match">
						<div class="col-xs-5">
							<input class="form-control" name="opponent" type="text" value="" id="example-text-input">
						</div>

						<button type="submit" class="btn btn-primary">Start Match</button>

					</form>

				</div>	
			</div>


		</div>
	</div>
</template>

<template name="profileHeader">
	<div class="row">
		<div class="col-xs-3">
			<img src="\grumpycat.jpg" class="img-responsive profile-pic">
		</div>
		<div class="col-xs-9 ">
			<div class="profile-header-info">
				<div class="namedisplay">
					{{#if editClicked}}
						<form class="edit-display-name">
							<div class="col-xs-5">
								<input class="form-control" name="name" type="text" value="" id="example-text-input">
							</div>
							<button type="submit" class="btn btn-primary">Update Name</button>
						</form>
					{{else}}
						<h1 class=profile-name>{{currentUser.profile.displayname}}</h1>
						<button type="button" class="btn btn-default editbutton2" aria-label="Left Align">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
						</button>
					{{/if}}
				</div>
				<h1 class=profile-rating>Rating: {{currentUser.profile.rating}}</h1> 
			</div>
		</div>
	</div>
</template>

<template name="scoreInput">
	<form class="score-form">

		<div class="match-names">
			<p>Name</p>
			<p>Name2</p>
		</div>

		<div class="point-input">
			<p>G1</p>
			<input class="form-control point-input" name="tg1" type="number" min="0" max="99">
			<input class="form-control point-input" name="bg1" type="number"  min="0" max="99">
		</div>

		<div class="point-input">
			<p>G2</p>
			<input class="form-control point-input" name="tg2" type="number"  min="0" max="99">
			<input class="form-control point-input" name="bg2" type="number"  min="0" max="99">
		</div>

		<div class="point-input">
			<p>G3</p>
			<input class="form-control point-input" name="tg3" type="number"  min="0" max="99">
			<input class="form-control point-input" name="bg3" type="number"  min="0" max="99">
		</div>

		<div class="point-input">
			<p>G4</p>
			<input class="form-control point-input" name="tg4" type="number"  min="0" max="99">
			<input class="form-control point-input" name="bg4" type="number"  min="0" max="99">
		</div>

		<div class="point-input">
			<p>G5</p>
			<input class="form-control point-input" name="tg5" type="number"  min="0" max="99">
			<input class="form-control point-input" name="bg5" type="number"  min="0" max="99">
		</div>

		<div class="point-input">
			<p>G6</p>
			<input class="form-control point-input" name="tg6" type="number"  min="0" max="99">
			<input class="form-control point-input" name="bg6" type="number"  min="0" max="99">
		</div>

		<div class="point-input">
			<p>G7</p>
			<input class="form-control point-input" name="tg7" type="number"  min="0" max="99">
			<input class="form-control point-input" name="bg7" type="number"  min="0" max="99">
		</div>
		<!--TODO: add update functionality-->
		<div>
			<button type="submit" class="btn btn-primary" name="ahhhhhh" id="btn-update">Update</button>
			<button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>
		</div>

	</form>
</template>



