<template name="Profile">
  {{#wrapper}}
    {{> profileMain}}
  {{/wrapper}}
</template>

<template name="profileMain">
	<div class="col-xs-12 full-height">
		{{> profileHeader}}
		
		<div class="form-group row">
			<form class="start-match">
				<div class="col-xs-5">
					<input id="opponent-searchbar" class="form-control" name="opponent" type="text" value="{{oppEntry}}" autocomplete="off" placeholder="Opponent name or email">
					{{#if showDropdown}}
						<ul id="opponent-searchbar-dropdown" class="dropdown-menu">
							{{#each opponentMatch}}
								{{> opponentEntry}}
							{{/each}}
							{{#unless oppNum}}
								<li><div class="dropdown-entry">No matching players found</div></li>
							{{/unless}}
						</ul>
					{{/if}}

				</div>
				<button type="submit" class="btn btn-primary">Start Match</button>
			</form>
		</div>				
	</div>
</template>

<template name="profileHeader">
	<div class="row">
		<div class="col-xs-3">
			<img src="\grumpycat.jpg" class="img-responsive profile-pic">
		</div>
		<div class="col-xs-9 ">
			<div class="profile-header-info">
				<div class="namedisplay">
					{{#if editClicked}}
					<form class="edit-display-name">
						<div class="col-xs-5">
							<input class="form-control" name="name" type="text" value="" id="example-text-input">
						</div>
						<button type="submit" class="btn btn-primary">Update Name</button>
					</form>
					{{else}}
					<h1 class=profile-name>{{currentUser.profile.displayname}}</h1>
					<button type="button" class="btn btn-default editbutton" aria-label="Left Align">

						<!-- Why is this edit button not aligning D: -->
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
					</button>
					{{/if}}
				</div>
				<h1 class=profile-rating>Rating: {{currentUser.profile.rating}}</h1> 
			</div>
		</div>
	</div>
</template>

<template name="opponentEntry">
		<li><div email={{email}} class="dropdown-entry opponentEntry">{{profile.displayname}} ({{email}})</div></li>
</template>