.home-right {
    background: -webkit-linear-gradient(left top, rgba(35, 82, 124, 0.05), rgba(35, 82, 124, 0.25), rgba(35, 82, 124, 0.1));
    background: linear-gradient(left top, rgba(35, 82, 124, 0.05), rgba(35, 82, 124, 0.25), rgba(35, 82, 124, 0.1));
    height: 100%;
    box-shadow: -10px 0px 30px rgba(0,0,0,0.6);
    padding: 20px 0 0 0;
    box-sizing: border-box;
}

.top-title {
    margin-left: 20px;
    font-size: 1.2em;
}

.half {
    height: 49%;
}

.top {
    margin-bottom: 2%;
}

.noMatch-text {
    text-align: center;
}

.newmatch-container {
    height: 100px;
    min-height: 100px
}

.news-container {
    height: calc(98% - 100px);
}

.news-entry {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 90%;
    margin: 0 auto 15px;
}

.news-img {
    max-height: 200px;
    max-width: 100%;
    border: 2px solid #999;
    float: left;
    margin-right: 10px;
}
