.home-right {
    background: -webkit-linear-gradient(left top, rgba(35, 82, 124, 0.05), rgba(35, 82, 124, 0.25), rgba(35, 82, 124, 0.1));
    background: linear-gradient(left top, rgba(35, 82, 124, 0.05), rgba(35, 82, 124, 0.25), rgba(35, 82, 124, 0.1));
    height: 100%;
    box-shadow: -10px 0px 30px rgba(0,0,0,0.6);
    padding: 20px 0 0 0;
    box-sizing: border-box;
}

.top-title {
    margin-left: 20px;
    font-size: 1.2em;
}

.split.top {
    height: 39%;
}

.split.bottom {
    height: 59%;
}
    
.top {
    margin-bottom: 15px;
}

.no-buffer-left {
    padding-left: 0;
}

.noMatch-text {
    text-align: center;
}

.newmatch-container {
    height: 105px;
}

.newmatch-container .container-body-list {
    overflow-y: visible;
}

.news-container {
    height: calc(100% - 120px);
}

.news-entry {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 90%;
    margin: 0 auto 15px;
}

.news-img {
    max-height: 200px;
    max-width: 60%;
    float: left;
    border: 2px solid #999;
    margin-right: 10px
}

.news-title {
    font-size: 1.2em;
    font-weight: bold;
}

.news-divider {
    margin: 7px 0;
}

.news-text {
    /*max-height: 400px;*/
}
