.display-match {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto 15px auto;
    text-decoration: none !important;
}

.display-match.large {
    font-size: 1.5em;
    position: relative;
}

.display-match-btns {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.display-match-btn {
    float: right;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.75;
}

.display-match-btn-container {
    filter: grayscale(100%);
    transition: all 0.5s;
    cursor: pointer;
}

.display-match-btn-container:hover {
    filter: none;
}

#btn-done {
    background-image: url('glyphicons-ok.png');
}

#btn-edit {
    background-image: url('glyphicons-pencil.png');
}

#btn-delete {
    background-image: url('glyphicons-remove.png');
}

.display-match-text {
    float: right;
    width: 0;
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-size: 0.8em;
    overflow-x: hidden;
    opacity: 0;
    transition: all 0.5s;
}

#btn-done + .display-match-text {
    color: #383;
}

#btn-edit + .display-match-text {
    color: #968040;
}

#btn-delete + .display-match-text {
    color: #a55;
}

.display-match-btn-container:hover .display-match-text {
    width: 4em;
    opacity: 1;
}

.display-match.large .pro-img-container,
.display-match.large .pro-img {
    max-width: 150px;
    width: 100%;
}

.display-match.link:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.display-match-playerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display-match-playerbox-name {
    margin-top: 5px;
    max-width: 100%;
    text-align: center;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 0.8em;
}

.display-match-playerbox.win .pro-img-container {
    border-color: #237b23;
}

.display-match-playerbox.win .display-match-playerbox-name {
    color: #237b23;
    font-weight: bold;
}

.display-match-games {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display-match-games-date {
    margin-top: 10px;
    font-size: 0.7em;
    color: #555;
}

.display-match-games-breakdown{
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display-match-points {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.display-match-points input,
.display-match-points p {
    margin: 0;
    width: 2em;
    padding: 3px 0;
    text-align: center;
    color: #999;
}

.display-match-points input {
    border: none;
    border-radius: 0;
    outline: none;
    background: transparent;
    transition: all 0.2s;
}

.display-match-points input:hover,
.display-match-points input:focus {
   background-color: rgba(255, 255, 255, 0.1);
}

.display-match-points p.win,
.display-match-points input.win {
    font-weight: bold;
    color: #237b23;
}

.display-match-points p.filler,
.display-match-points input.filler {
    color: #555;
}

p.display-match-points-gameNum {
    padding: 0 8px !important;
    font-size: 0.8em;
    border-bottom: 1px solid #555;
    color: #555;
    width: 100%;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,      
input[type=number]::-webkit-outer-spin-button {       
    -webkit-appearance: none;     
    margin: 0;        
}
