.start-match {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

.opponent-searchbar {
    border-radius: 0;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
    width: 78%;
    margin-right: 2%;
    padding: 10px;
}

.start-match-btn {
    height: 40px;
    width: 20%;
    float:right;
    outline: none;
    border: none;
    background-color: rgba(64, 255, 64, 0.4);
    transition: all 0.5s; 
    color: #ccc;
}

.start-match-btn:hover {
    background-color: rgba(64, 255, 64, 0.2);
    color: #999;
    /*color: #23527c;*/
}

#opponent-searchbar-dropdown {
    position: absolute;
    width: 78%;
    max-height: 200px;
    overflow-y: auto;
    margin: -1px 0 0 0;
    border-radius: 0;
    display: block;
    background-color: #363636; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown-entry {
    display: flex;
    padding: 3px 12px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown-entry:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-entry .pro-img {
    width: 34px;
}

.dropdown-entry .pro-img-container {
    margin-right: 7px;
}

.dropdown-entry-text {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
