.opponent-searchbar {
    border-radius: 0;
    outline: none;
    border: none;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.2s;
    width: 66%;
    padding: 10px;
}

#opponent-searchbar-dropdown {
    position: static;
    width: 100%;
    margin: -1px 0 0 0;
    border-radius: 0;
    display: block;
}

.dropdown-entry {
    padding: 3px 12px;
    box-sizing: border-box;
    cursor: pointer;
}

.dropdown-entry:hover {
    background: #ccc;
}
