.playerBox-container {
	min-height: 90px;
	display: flex;
	align-items: center;
	padding: 5px 0;
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid rgba(100, 100, 100, 0.5);
	background-color: rgba(0, 0, 0, 0.2);
}

.playerBox-container:hover {
	background-color: rgba(255,255,255,0.1);
}

.playerBox-rank {
    text-align: center;
	width: 15%;
}

.playerBox-img {
	display: flex;
    width: 30%;
}

.playerBox-info {
	width: 55%;
	padding-left: 10px;
}