.playerList-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.playerList {
	height: 100%;
	width: 100%;
	overflow-y: auto;
}

.playerList-container .playerList {
    box-sizing: border-box;
    padding-right: 10px;
}

.playerList-container .playerBox-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.playerList-title {
	margin-left: 20px;
	font-size: 1.2em;
}

.playerBox-container {
	min-height: 90px;
	display: flex;
	align-items: center;
	padding: 5px 0;
}

.playerBox-container:hover {
	background-color: rgba(255,255,255,0.1);
}

.playerBox-rank {
    text-align: center;
	width: 15%;
}

.playerBox-img {
    width: 30%;
}

.playerBox-info {
	width: 55%;
	padding-left: 10px;
}