.playerList {
	height: 100%;
	width: 100%;
}

.playerList h2 {
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 10px 0;
	box-sizing: border-box;
	border-bottom: 2px solid #666;
}

.playerBox-container {
	min-height: 80px;
	height: 10%;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: white;
	padding: 5px 10px;
	margin-top: 10px;
}

.playerBox-rank {
	width: 10%;
	padding-right: 10px;
}

.playerBox-img {
	max-height: 100%;
	width: 30%;
	height: auto;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.playerBox-info {
	width: 60%;
	padding-left: 10px;
}