.profile-pic {
	display: inline-block;
	margin: 1%;
}

h1.profile-name {
	display: inline-block;
}
.edit-button {
	display: inline-block;
	margin-left: 1em;
}

.profile-header-info {
	vertical-align: middle;
	width: 100%;
}

.namedisplay.h1 {
	display: inline-block;
}


.point-input {
	display: inline-block;
	width: 50px;
	text-align: right;
	margin-left: 1em;
	margin-bottom: 1em;
}
.match-names {
	height: 100%;
	display: inline-block;
	margin-bottom: 1em;
}
.match-names p {
	margin-bottom: 2em;
}
.uploadFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	cursor: pointer;
}
.uploadFileLabel {
	cursor: pointer;
}